{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>NOTE-X</h1>
        </div>
        <ul class="nav_items">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Dev</a></li>
            <li><a href="signUp/">
                {%if user.is_authenticated%}
                <img src="{% static 'images/user-rounded-svgrepo-com.svg' %}" alt="SVG Icon" class="user_icon">
                <span class="user_name">{{user.username}}</span>
                {%else%}
                SignUp/In!
                {%endif%}
            </a></li>
        </ul>
    </nav>
    <main>
        {% comment %} The profile {% endcomment %}
        <article class="profile">
            
        </article>
        
        
        
        {% comment %} The note {% endcomment %}
        <div class="notes">
            <center><h1>Notes</h1></center>
            {%if note%}
            {%for note in notes%}
            <a href="" class="notes_link"><div class="notes_item">
                <h2>{{note.Topic}}</h2>
                <p>{{note.discription}}</p>
            </div></a>
            {%endfor%}
            {%else%}
            <img src="" alt="">
            {%endif%}
            <button class="addnote_button" id="addnote_button">ADD NOTE</button>
        </div>
        
        
        
        
        
        {% comment %} The sticky note {% endcomment %}
        <div class="sticky_notes">
            <center><h1>Sticky Notes</h1></center>
            {%for Snote in Snotes%}
            <a href="" class="Snotes_link"><div class="Snotes_item">
                <p>{{Snote}}</p>
            </div></a>
            {%endfor%}
        </div>
        
    </main>
    {% comment %} ADD NOTE {% endcomment %}
    <section class="addnote_background" id="addnote_background">
        <div class="add_note">
            <nav>
                <h1>ADD NOTE</h1>
                <h2><img src="user-rounded-svgrepo-com.svg" alt="">User name</h2>
            </nav>
            <div>
                <form action="">
                    {% csrf_token %}
                    <label for="title" class="title_label">Title</label>
                    <input type="text" id="title" class="title_input">
                    
                    <label for="discription" class="discription_label">Discription</label>
                    <textarea type="text" id="discription" class="discription_input"></textarea>
                    
                    <button type="submit">Add</button>
                    
                </form>
            </div>
        </div>
    </section>
    
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>