{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>NOTE-X</h1>
        </div>
        <ul class="nav_items">
            <li><a href="#">Home</a></li>
            <li><a href="" onclick="tooglebox()">About Dev</a></li>
            <li><a href="signUp/">
                {%if user.is_authenticated%}
                <img src="{% static 'images/user-rounded-svgrepo-com.svg' %}" alt="SVG Icon" class="user_icon">
                <span class="user_name">{{user.username}}</span>
                {%else%}
                SignUp/In!
                {%endif%}
            </a></li>
        </ul>
    </nav>
    <main>
        {% comment %} The profile {% endcomment %}
        <article class="history">
            <h1>History</h1>

            {% if user.is_authenticated %}
                <ul class="history-ul" style="height = 100% {%if user.is_authenticated%} height = 68% {%endif%}">
                    {%for item in history%}
                        <li>
                            Created <strong>{{item.Topic}}</strong> at {{item.history_date}}.
                            
                        </li>
                    {%endfor%}
                </ul>

            {%else%}
            <h2 class="SignUprequest">Empty -_-</h2>
            {% endif %}


            {%if user.is_authenticated%}
                <form action="{% url 'Logout'%}" method="POST">
                {%csrf_token%}
                    <button type="submit" class="Logout_button">Log out</button>
                </form>
            {%endif%}


        </article>
        
        
        
        {% comment %} The note {% endcomment %}
        <div class="notes">
            <center><h1>Notes</h1></center>
            
            {%for note in notes%}
                <a href="" class="notes_link"><div class="notes_item" > 
                    <h2>{{note.Topic}}</h2>
                    <p>{{note.description}}</p>
                </div></a>
            {%empty%}
                {%if not user.is_authenticated%}
                <h2 class="SignUprequest">Please SignUp/In to create/view Notes.</h2>
                {%else%}
                <h2 class="SignUprequest">Empty -_-</h2>
                {%endif%}
            {%endfor%}
            {%if user.is_authenticated%}
                <button class="addnote_button" id="addnote_button">ADD NOTE</button>
            {%endif%}
        </div>
        
        
        
        
        
        {% comment %} The sticky note {% endcomment %}
        <div class="sticky_notes">
            <center><h1>Sticky Notes</h1></center>
            {%for Snote in Snotes%}
            <a href="" class="Snotes_link"><div class="Snotes_item">
                <p>{{Snote}}</p>
            </div></a>
            {%empty%}
            <h2 class="Empty_Snotes">Empty!</h2>
            {%endfor%}
        </div>
        
    </main>
    {% comment %} ADD NOTE {% endcomment %}
    <section class="addnote_background" id="addnote_background">
        <a href="/" class="addnote_back_icon" aria-label="Go back to home">
            <svg class="addnote_icon_inside" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <path class="addnote_icon_path" d="M14.389 7.956v4.374l1.056 0.010c7.335 0.071 11.466 3.333 12.543 9.944-4.029-4.661-8.675-4.663-12.532-4.664h-1.067v4.337l-9.884-7.001 9.884-7zM15.456 5.893l-12.795 9.063 12.795 9.063v-5.332c5.121 0.002 9.869 0.26 13.884 7.42 0-4.547-0.751-14.706-13.884-14.833v-5.381z"/>
            </svg>
          </a>
          
          
        <div class="add_note">
            <nav>
                <h1>ADD NOTE</h1>
                <h2><img src="user-rounded-svgrepo-com.svg" alt="">User name</h2>
            </nav>
            <div class="addnote_form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="title" class="title_label">Title</label>
                    <input type="text" id="title" class="title_input" name="title_input">
                    
                    <label for="description" class="description_label">description</label>
                    <textarea type="text" id="description" class="description_input" name="description_input"></textarea>
                    
                    <button type="submit" class="addnote_add_button">Add</button>
                    
                </form>
            </div>
        </div>
    </section>

{% comment %} view note --------------------------------------------------------------> {% endcomment %}
    <section class="addnote_background" id ="viewnote_background">
        <a href="/" class="addnote_back_icon" aria-label="Go back to home">
            <svg class="addnote_icon_inside" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <path class="addnote_icon_path" d="M14.389 7.956v4.374l1.056 0.010c7.335 0.071 11.466 3.333 12.543 9.944-4.029-4.661-8.675-4.663-12.532-4.664h-1.067v4.337l-9.884-7.001 9.884-7zM15.456 5.893l-12.795 9.063 12.795 9.063v-5.332c5.121 0.002 9.869 0.26 13.884 7.42 0-4.547-0.751-14.706-13.884-14.833v-5.381z"/>
            </svg>
          </a>
          
          
        <div class="add_note">
            <nav>
                <h1>ADD NOTE</h1>
                <h2>User name</h2>
            </nav>
            <div class="addnote_form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="title" class="title_label">Title</label>
                    <input type="text" id="title" class="title_input" name="title_input">
                    
                    <label for="description" class="description_label">description</label>
                    <textarea type="text" id="description" class="description_input" name="description_input"></textarea>
                    
                    <button type="submit" class="addnote_add_button">Add</button>
                    
                </form>
            </div>
        </div>
    </section>
    
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>