{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
</head>
<body>
    <main>
        <h1>SignUp here!</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">First Name</label>
            <input type="text" placeholder="" name="">

            <label for="">Last Name</label>
            <input type="text" placeholder="" name="">>

            <label for="">Create password:</label>
            <input type="text" placeholder="" name="">

            <label for="">Conform password:</label>
            <input type="text" placeholder="" name="">
            
            <button type="submit">SignUp</button>
        </form>
    </main>
</body>
</html>