@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
*{
    margin:0px;
    padding: 0;
    background-color: black;
    text-decoration: none;
    color: var(--t-color);
    font-family: "Baloo 2";
}
html{
    scroll-behavior: smooth;
}
:root {
    --p-color: #854ce6;
    --p-color-rgb: 133, 76, 230;
  
    --s-color: #f4a6d7;
    --s-color-rgb: 244, 166, 215;
  
    --t-color: #e6e6e6;
    --t-color-rgb: 230, 230, 230;
  }
  
nav{
    
    margin: 2rem 0;
    height: 3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    background-color: var(--p-color);
    opacity: 0.8;
    border: 2px solid transparent;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;

}
.logo h1{
    color: var(--t-color);
    opacity: 1;
    padding: 0.2rem;
    padding-right: 0.8rem;
    border: 2px solid transparent;
    border-bottom-right-radius: 95px;
    background-color: var(--p-color);
}
.nav_items{
    width: 30%;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav_items li a{
    color: var(--t-color);
    display: inline-block;
    font-size: larger;
    transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out;
    font-family: "Baloo 2";
    position: relative;
}

.nav_items li a:hover{
    font-size: 1.4rem;
    color: var(--p-color);
}
.nav_items li a::before{
    content: '';
    bottom: 0;
    width: 0;
    background-color: var(--t-color);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.nav_items li a:hover::before{
    width: 100%;
    height: 5%;
    position: absolute;
}
.user_icon {
    display: relative;
    width: 2rem;
    padding: 0.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0;
    
}

.user_name {
    position: relative;
    bottom: 0.6rem;
}


main{
    display: flex;
    width: 99.8%;
    height: calc(100vh - 7.5rem);
    border-radius: 15%;
    
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
    height: 100%;
    box-shadow: 0 0 10px var(--p-color), 0 0 20px var(--p-color); 
    transition: width ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
}
article:hover{
    width: 21%;
    box-shadow: -10px 0 20px var(--s-color),10px 0 20px var(--s-color); 

}
.history-ul{
    padding: 2rem;
    height: 68%;
    overflow-y: scroll;
    border-radius: 45px;
}
.history-ul::-webkit-scrollbar {
    display: none;  
}
.Logout_button{
    color:var(--t-color);
    margin: 0.5rem;
    font-weight: bold;
    padding: 0.8rem;
    border: 2px solid rgb(255, 0, 0);
    opacity: 0.5;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.Logout_button:hover{
    background-color: rgb(255, 0, 0);
    opacity: 1;
    cursor: pointer;
}
/* notes----------------------------------------------------------------------------------------------> */
.notes{
    margin:  0rem 3rem;
    border-radius: 45px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60%;
    transition: width  ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 10px var(--p-color), 0 0 20px var(--p-color); 
    }
.notes:hover{
    width: 63%;
    box-shadow: -10px 0 20px var(--s-color),10px 0 20px var(--s-color);
    }
.notes::-webkit-scrollbar {
    display: none; 
  }
.notes_link{
    background: transparent;
    width: 100%;
    max-width: 120vh; /*This ensures that the widht of the notes-items doesn't change when the width of the notes is changed when hovered */
  }

.notes_item{
    padding: 5%;
    position: relative;
    background: transparent;
}
.notes_item::after{
    content: '';
    width: 50%;
    height: 1%;
    background-color: var(--s-color);
    position: absolute;
    bottom: 1rem;
    left: 3.4rem;
    transition: width ease-in-out 0.5s, background-color ease-in-out 0.5s;
}
.notes_item:hover::after{
    width: 85%;
    background-color: var(--p-color);

}
.notes_item h2{
    color: var(--s-color);
}
.notes_item p{
    padding: 1%;
    overflow: hidden;
}
.addnote_button{
    font-weight: bold;
    padding: 0.8rem;
    position:fixed;
    top: 87%;
    left: 70%;
    border: 0.2rem solid var(--p-color);
    background-color: black;
    border-radius: 10px;
    transition: border ease-in-out 0.5s, background-color ease-in-out 0.5s, color ease-in-out 0.5s;
    cursor: pointer;
}
.addnote_button:hover{
    border: 0.2rem solid var(--s-color);
    background-color: var(--s-color);
    color: var(--p-color);
}
.SignUprequest{
    position: relative;
    top: 35%;
    opacity: 0.4;
}
/* sticky notes --------------------------------------------------------->*/
.sticky_notes{
    display: flex;
    border-radius: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 0 10px var(--p-color), 0 0 20px var(--p-color); 
    transition: width  ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
    overflow: auto;
}
.sticky_notes::-webkit-scrollbar{
    display: none;
}
.sticky_notes:hover{
    width: 21%;
    box-shadow: -10px 0 20px var(--s-color),10px 0 20px var(--s-color); 
}
.Snotes_link{
    max-width: 20vw;
}
.Snotes_item{
    margin: 12%;
    padding: 3%;
    border: 3px solid var(--s-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    transition: border ease-in-out 0.5s, margin ease-in-out 0.5s;
}
.Snotes_item:hover{
    border: 3px solid var(--p-color);

}
.Empty_Snotes{
    position: relative;
    top: 35%;
    left: 40%;
    opacity: 0.4;
}
.addSnote_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3.2rem;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    position:fixed;
    top: 87%;
    left: 94%;
    border: 0.2rem solid var(--p-color);
    background-color: black;
    border-radius: 10px;
    border-top-left-radius: 0;
    transition: border ease-in-out 0.5s, background-color ease-in-out 0.5s, color ease-in-out 0.5s;
    cursor: pointer;
}
.addSnote_button:hover{
    border: 0.2rem solid var(--s-color);
    background-color: var(--s-color);
    color: var(--p-color);
}
/* ADD NOTE--------------------------------------------------------------> */
.addnote_background{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5vw;
    height: 99.5vh; 
    z-index: 9999;     
    background-color: transparent;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(10px); 
    
}
/* back icon button------------------------------------------------------------------------------> */
.addnote_back_icon{
    background-color: transparent;
    position:absolute;
    bottom: 40.5rem;
    left:73.2rem;
    
}
.addnote_icon_inside{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
}
.addnote_icon_path{
    color: var(--p-color);
    stroke: var(--p-color);
    transition: color ease-in-out 0.5s, stroke ease-in-out 0.5s;
}
.addnote_back_icon :hover .addnote_icon_path{
    color: var(--s-color);
    stroke: var(--s-color);
}
/* Note adding section ---------------------------------------------------------------------------------------------> */
.add_note{
    width: 60%;
    height: 80%;
    box-shadow: 0 0 10px var(--s-color), 0 0 20px var(--s-color); 
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.303);
}
.add_note:hover{
    box-shadow: 0 0 10px var(--p-color), 0 0 20px var(--p-color); 
}
.add_note nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: transparent;
}
.add_note nav h1{
    color: var(--p-color);
    font-weight:bold;
    font-size: larger;
    background-color: transparent;
}
.add_note form{
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    border-radius: 45px;
    background-color: transparent;
}
.addnote_form{
    border-radius: 45px;
    background-color: transparent;
}
.title_label, .description_label{
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
}
.title_input{
    height: 2rem;
    margin-bottom: 2rem;
    padding: 0 15px;
    border: 2px solid var(--s-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.303);
}
.description_input{
    height: 14rem;
    border-radius: 15px;
    padding: 15px;
    resize: none;
    margin: 0 0 1rem 0;
    border: 2px solid var(--s-color);
    background-color: transparent;
}

.title_input:focus{
    outline: none;
}
.title_input:focus-within {
    border: 2px solid var(--p-color); 
    background-color: transparent;
}
.description_input:focus{
    outline: none;
}
.description_input:focus-within {
    border: 2px solid var(--p-color); 
}
.addnote_add_button{
    width: 5rem;
    height: 2rem;
    border: 2px solid var(--p-color);
    border-radius: 10px;
    background-color: none;
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
    margin: 0 45%;

}
.addnote_add_button:hover{
    border: 2px solid var(--s-color);
    background-color: var(--s-color);
}


/* view note ---------------------------------------------------------------------------------------------------------------> */
